*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:Poppins;
}
.container{
    width: 100%;
}
nav{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items:center ;
}
.menu, .actions{
    display: flex;
    gap: 40px;
}
.content{
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 50px;
}
.discover{
    width: 35%;
    height: 60vh;
     background: #FFF3E3;
    padding: 30px;
    border-radius: 20px;
}
.discover h5{
    color: #333333;
    
}
.discover h2{
    color:#B88E2F;
    font-size: 42px;
    line-height: 52px;
}
.buyBtn{
background-color: #B88E2F;
color: white;
font-weight: 600;
padding: 12px 35px;
border: 1px solid transparent;
margin-top:30px;
transition: .4s;
cursor: pointer;
}
.buyBtn:hover{
    background-color: white;
    color: #B88E2F;
    border-color: #B88E2F;
}
.title{
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title h3{
    font-size: 32px
}
.browse{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    object-fit: contain;
}
.furniture{
    text-align: center;
}


.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    
   
}
.cards1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: -200px;
    
   
}
.card{
    width: 19%;
    height: 60%;
    background-color: lightgray;
   
}
.card h5{
    color: #898989;   
}
.card img{
    width: 100%;
    transition: 0.5s;

}
.card img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px ;
}
.btnShow{
    background-color: #B88E2F;
color: white;
font-weight: 600;
padding: 12px 35px;
border: 1px solid transparent;
margin-top:30px;
transition: .6s;
cursor: pointer;
}
.btnShow:hover{
    background-color: white;
    color: #B88E2F;
    border-color: #B88E2F;
}
.rooms{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #FFF3E3;
  
}
.Explore{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}.Explore h1{
    font-weight: 900;
}
.Explorephoto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
gap: 90px;
}
.Explorephoto img{
    width: 70%;
    height: 70%;   
}
.indicator{
    display: flex;
    justify-content:center ;
    align-items:end;
    margin-left: -200px;  
}
.indicator img{
    width: 100%;
    height: 4%;  
}
.end{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    justify-content:space-around;
    align-items: center;
    
    gap: 20px;

}
/* .end img{
    width: 22%;
} */
.end1{
    
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    gap: 30px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.end1 :nth-child(3){
    /* margin-left: 350px; */
    
}
.end1 img{
    width: 22%;
    object-fit: contain;
}
.end-navbar img{
    width: 100%;
    height: 70vh; 
    text-align: center; 
}
@media screen and (max-width:467px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 5px 0;
        gap: 5px;
    }
    .content{
        
        justify-content: center;
    }
    .discover{
        width: 100%;

    }
    .title{
        width: 90%;
        margin: 20px auto;
        height: auto;
    }
    .browse{
        height: auto;
        flex-direction: column;
    }
    .browse h4{
        font-size: 30px;
    }
    .cards, .cards1{
        height: auto;

        
        flex-direction: column; 
        margin: 20px 0;
        padding: 20px;
    }
    .card{
        width: 100%;
        margin: 20px 0;
    }
    .card img:hover{
        transform: scale(1);
        border-radius: 1px;
    }
    .rooms{
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        padding: 20px;
    }
    .indicator{
        margin: 0;
        
    }
    .Explore{
        
        width: 100%;
    }
    .Explorephoto{
        
        margin: 20px 0;
        flex-direction: column;
    }
    .Explorephoto img{
        width: 100%;
    }
    .end , .end1{
        
        flex-direction: column;
        height: auto;
    }
    .end img , .end1 img{
        width: 90%;
    }
    .end-navbar{
        width: 100%;
        height: auto;
    }
    .end-navbar img{
        width: 100%;
        
    }
    .Btn{
        margin: 0;
    }
}
@media (min-width:467px) and (max-width:900px){
    .content{
        justify-content: center;
    }
    .discover{
        height: 37%;
        width: 50%;
    }
    .browse{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .furniture{
        width: 100%;
    }
    .cards{
        display: flex;
        
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;

    }
    .card{
        width: 40%;
        height: 42%;
    }
    .cards1{
        display: flex;
        
        gap: 10px;
        
        width: 100%;
        flex-wrap: wrap;
         
        
        margin: 4px 0;
        

    }
    .rooms{
        flex-direction: column;
        height: auto;
        
    }
    .Explore{
    
        margin: 10px auto;
    }
    .Btn{
        margin: 0 auto;
    
    }
    .Explorephoto{
        margin: 10px 0;
        
        height: auto;
    }
    .Explorephoto img{
        width: 50%;
        
    }
    .indicator img{
        width: 20%;
        position: relative;
        left: 70px;
        
        
    }
    .end{
        display: flex;
    
    }
    .end img{
        
        width: 20%;
        height: 40%;
    }
    .end-navbar img{
        width: 100%;
        height: auto;
    }
    .end-navbar{
        width: 100%;
        
        
    }


}
